---
import CompletedState from "@/components/completed-state.astro"
import EmptyState from "@/components/empty-state.astro"
import FormCalculator from "@/components/form-calculator"
import Input from "@/components/input"
import Select, { type SelectOption } from "@/components/select"
import ToggleContainer from "@/components/toggle-container"
import RootLayout from "@/layouts/root.astro"
import type { MortgageTypes } from "@/stores/calculator"

const options: SelectOption<MortgageTypes>[] = [
  {
    label: "Repayment",
    value: "repayment",
  },
  {
    label: "Interest Only",
    value: "interest-only",
  },
]
---

<RootLayout title="Mortgage repayment calculator">
  <main>
    <!-- calculator component -->
    <div>
      <!-- form component -->
      <FormCalculator client:load>
        <header>
          <h1>Mortgage repayment calculator</h1>
          <button type="reset">Clear All</button>
        </header>
        <main>
          <Input label="Mortgage Amount" id="amount" client:load />
          <div>
            <Input label="Mortgage Term" id="term" client:load />
            <Input label="Interest Rate" id="interestRate" client:load />
          </div>
          <Select label="Mortgage Type" options={options} client:load />
        </main>
        <footer>
          <button type="submit">
            <img src="./icons/calculator.svg" alt="calculator" />
            Calculate Repayments
          </button>
        </footer>
      </FormCalculator>
      <!-- results component -->
      <div>
        <ToggleContainer client:load>
          <Fragment slot="false">
            <EmptyState />
          </Fragment>
          <Fragment slot="true">
            <CompletedState />
          </Fragment>
        </ToggleContainer>
      </div>
    </div>
  </main>
</RootLayout>
