---
import Button from "@/components/button.astro"
import Calculator from "@/components/calculator.astro"
import CompletedState from "@/components/completed-state.astro"
import EmptyState from "@/components/empty-state.astro"
import FormCalculator from "@/components/form-calculator"
import Input from "@/components/input"
import Select, { type SelectOption } from "@/components/select"
import ToggleContainer from "@/components/toggle-container"
import RootLayout from "@/layouts/root.astro"
import type { MortgageTypes } from "@/stores/calculator"

const options: SelectOption<MortgageTypes>[] = [
  {
    label: "Repayment",
    value: "repayment",
  },
  {
    label: "Interest Only",
    value: "interest-only",
  },
]
---

<RootLayout title="Mortgage repayment calculator">
  <main>
    <!-- calculator component -->
    <Calculator>
      <!-- form component -->
      <FormCalculator client:load>
        <header>
          <h1 class="fs-700 fw-bold text-dark">Mortgage Calculator</h1>
          <Button variant="link" type="reset">Clear All</Button>
        </header>
        <main>
          <Input
            label="Mortgage Amount"
            id="amount"
            decorator="$"
            client:load
          />
          <div>
            <Input
              label="Mortgage Term"
              id="term"
              decorator="years"
              reverse
              client:load
            />
            <Input
              label="Interest Rate"
              id="interestRate"
              decorator="%"
              reverse
              client:load
            />
          </div>
          <Select label="Mortgage Type" options={options} client:load />
        </main>
        <footer>
          <Button variant="button" icon="./icons/calculator.svg" type="submit">
            Calculate Repayments
          </Button>
        </footer>
      </FormCalculator>
      <!-- results component -->
      <div class="bg-dark">
        <ToggleContainer client:load>
          <Fragment slot="false">
            <EmptyState />
          </Fragment>
          <Fragment slot="true">
            <CompletedState />
          </Fragment>
        </ToggleContainer>
      </div>
    </Calculator>
  </main>
</RootLayout>
