---
import RootLayout from "../layouts/root.astro"
import CompletedState from "@/components/completed-state.astro"
import EmptyState from "@/components/empty-state.astro"
import ToggleContainer from "@/components/toggle-container"
---

<RootLayout title="Mortgage repayment calculator">
  <main>
    <!-- calculator component -->
    <div>
      <!-- form component -->
      <form>
        <header>
          <h1>Mortgage repayment calculator</h1>
          <button>Clear All</button>
        </header>
        <main>
          <div>
            <label>
              Mortgage Amount
              <input type="number" />
            </label>
          </div>
          <div>
            <label>
              Mortgage Term
              <input type="number" />
            </label>
            <label>
              Interest Rate
              <input type="number" />
            </label>
          </div>
          <div>
            <label>
              Mortgage Type
              <label>
                <input type="radio" name="type" value="repayment" />
                Repayment
              </label>
              <label>
                <input type="radio" name="type" value="interest-only" />
                Interest Only
              </label>
            </label>
          </div>
        </main>
        <footer>
          <button>
            <img src="./icons/calculator.svg" alt="calculator" />
            Calculate Repayments
          </button>
        </footer>
      </form>
      <!-- results component -->
      <div>
        <ToggleContainer client:load>
          <Fragment slot="false">
            <EmptyState />
          </Fragment>
          <Fragment slot="true">
            <CompletedState />
          </Fragment>
        </ToggleContainer>
      </div>
    </div>
  </main>
</RootLayout>
