---
import CompletedState from "@/components/completed-state.astro"
import EmptyState from "@/components/empty-state.astro"
import FormCalculator from "@/components/form-calculator"
import Input from "@/components/input"
import ToggleContainer from "@/components/toggle-container"
import RootLayout from "@/layouts/root.astro"
---

<RootLayout title="Mortgage repayment calculator">
  <main>
    <!-- calculator component -->
    <div>
      <!-- form component -->
      <FormCalculator client:load>
        <header>
          <h1>Mortgage repayment calculator</h1>
          <button type="reset">Clear All</button>
        </header>
        <main>
          <Input label="Mortgage Amount" id="amount" client:load />
          <div>
            <Input label="Mortgage Term" id="term" client:load />
            <Input label="Interest Rate" id="interestRate" client:load />
          </div>
          <fieldset>
            <legend>Mortgage Type</legend>
            <label>
              <input type="radio" name="type" value="repayment" />
              Repayment
            </label>
            <label>
              <input type="radio" name="type" value="interest-only" />
              Interest Only
            </label>
          </fieldset>
        </main>
        <footer>
          <button type="submit">
            <img src="./icons/calculator.svg" alt="calculator" />
            Calculate Repayments
          </button>
        </footer>
      </FormCalculator>
      <!-- results component -->
      <div>
        <ToggleContainer client:load>
          <Fragment slot="false">
            <EmptyState />
          </Fragment>
          <Fragment slot="true">
            <CompletedState />
          </Fragment>
        </ToggleContainer>
      </div>
    </div>
  </main>
</RootLayout>
