---
import MonthlyRepayments from "@/components/monthly-repayments"
---

<div>
  <h2 class="fs-700 fw-bold">Your results</h2>
  <p>
    Your results are shown below based on the information you provided. To
    adjust the results, edit the form and click "calculate repayments" again.
  </p>
  <div>
    <MonthlyRepayments client:load />
  </div>
</div>
